.tc-content-block {
    margin: var(--tc-content-block-margin);
    padding:  var(--tc-content-block-padding);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5vw;
}
.tc-content-block-heading {
    grid-column: span 6;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tc-content-block article {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tc-content-block article > *:not(:last-child) {
    margin-bottom: 1rem;
}
.tc-content-block[data-columns="1"] article {
    grid-column:  span 6;
}
.tc-content-block[data-columns="2"] article {
    grid-column: span 6;
}
.tc-content-block[data-columns="3"] article {
    grid-column: span 6;
}

@media only screen and (min-width: 768px){
    .tc-content-block[data-columns="2"] article {
        grid-column: span 3;
    }
    .tc-content-block[data-columns="3"] article {
        grid-column: span 2;
    }
}