.tc-minimalist-navbar {
    --tc-minimalist-navbar-background-color: var(--clr-primary);
    --tc-minimalist-navbar-border-color: 255, 255, 255;
    --tc-minimalist-navbar-text-color: var(--clr-text-light);
    --tc-minimalist-navbar-text-hover-color: var(--clr-accent);
    --tc-minimalist-navbar-hover-border: 1px solid var(--clr-accent);

    position: relative;
    z-index: 1000;
    min-height: 12vh;
    background-color: rgb(var(--tc-minimalist-navbar-background-color));
    display: flex;
    flex-wrap: wrap;
}
.tc-minimalist-navbar * {
    white-space: nowrap;
    color: rgb(var(--tc-minimalist-navbar-text-color));
    font-size: 1.2rem;
}
.tc-minimalist-navbar > div,
.tc-minimalist-navbar > nav {
    flex-grow: 1;
    /* border-bottom: 1px solid rgb(var(--tc-minimalist-navbar-border-color), 0.4); */
}
/*------------ Logo ------------*/
.tc-minimalist-navbar-logo-wrapper {
    order: 1;
   border-bottom: 1px solid rgb(var(--tc-minimalist-navbar-border-color), 0.4);
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tc-minimalist-navbar-logo-wrapper img {
    max-height: 10vh;
}

/*------------ Links ------------*/
.tc-minimalist-navbar-navigation-container {
    flex-basis: 100%;
    order: 2;
    border-bottom: 0px solid rgb(var(--tc-minimalist-navbar-border-color), 0.4);
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s;
}
.tc-minimalist-navbar-navigation-container > ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/*------------ Contact ------------*/
.tc-minimalist-navbar-contact-container {
    flex-basis: 100%;
    order: 0;
   border-bottom: 1px solid rgb(var(--tc-minimalist-navbar-border-color), 0.4);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tc-minimalist-navbar-contact-container > ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/*------------ Tray Button ------------*/
.tc-minimalist-navbar-tray-btn-wrapper {
    order: 4;
    flex-basis: 100%;
    border-bottom: 1px solid rgb(var(--tc-minimalist-navbar-border-color), 0.4);
    padding: 0.7rem;
    min-height: fit-content;
    height: 1.8rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tc-minimalist-navbar-tray-btn {
    border: none;
    width: 100%;
    height: 2rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tc-minimalist-navbar-tray-btn > div {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(var(--tc-minimalist-navbar-text-color));
}
.tc-minimalist-navbar-tray-btn > div:not(:last-child) {
    margin-bottom: 0.3rem;
}

/*------------ Hover Styles ------------*/
.tc-minimalist-navbar a:hover {
    color: rgb(var(--tc-minimalist-navbar-text-hover-color));
    border-bottom: var(--tc-minimalist-navbar-hover-border);
}

/*------------ Responsive Styles ------------*/
@media only screen and (min-width: 768px){
    .tc-minimalist-navbar-navigation-container {
        flex-basis: auto;
        border-bottom: 1px solid rgb(var(--tc-minimalist-navbar-border-color), 0.4);
        height: 12vh;
    }
    .tc-minimalist-navbar-contact-container {
        flex-basis: auto;
        height: 12vh;
    }
    .tc-minimalist-navbar-tray-btn-wrapper {
        display: none;
    }
}

