.tc-girder-navbar {
    --tc-girder-navbar-background-color: var(--clr-primary);
    --tc-girder-navbar-border-color: 255, 255, 255;
    --tc-girder-navbar-text-color: var(--clr-text-light);

    position: relative;
    z-index: 1000;
    min-height: 12vh;
    background-color: rgb(var(--tc-girder-navbar-background-color));
    display: flex;
    flex-wrap: wrap;
}
.tc-girder-navbar * {
    color: rgb(var(--tc-girder-navbar-text-color), 0.7);
}
.tc-girder-navbar > div,
.tc-girder-navbar > nav {
    flex-grow: 1;
    border-bottom: 1px solid rgb(var(--tc-girder-navbar-border-color), 0.4);
    height: 12vh
}
/*------------ Logo ------------*/
.tc-girder-navbar-logo-container {
    flex-basis: calc(100% / 2);
    padding: 1rem;
    display: flex;
    align-items: center;
}
.tc-girder-navbar-logo-container img {
    max-width: 90%;
    height: 10vh;
}

/*------------ Links ------------*/
.tc-girder-navbar-link-container {
    flex-basis: 100%;
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
}
.tc-girder-navbar-link-container > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.tc-girder-navbar-link-item {
    position: relative;

}
.tc-girder-navbar-link-item *{
    position: relative;
    z-index: 1020;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

/*------------ Social ------------*/
.tc-girder-navbar-social-container {
    flex-basis: calc(((100% / 3) / 2));
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    /* gap: 2rem */
}
.tc-girder-navbar-social-container > * + * {
    margin-left: 2rem;
}
.tc-girder-nav-bar-social-bar-icon-wrapper {
    position: relative;
}
.tc-girder-nav-bar-social-bar-icon-wrapper * {
    transition: all 0.5s ease;
}
.tc-girder-nav-bar-social-bar-icon-wrapper a{
    position: relative;
    z-index: 1020;
}

/*------------ Contact ------------*/
.tc-girder-navbar-contact-container {
    flex-basis: calc((100% / 3) / 2);
    padding: 1rem;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.tc-girder-navbar-tray-btn-wrapper {
    flex-basis: 100%;
    padding: 0.7rem;
    min-height: fit-content;
    height: 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tc-girder-navbar-tray-btn {
    border: none;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tc-girder-navbar-tray-btn > div {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(var(--tc-girder-navbar-text-color), 0.7);
}
.tc-girder-navbar-tray-btn > div:not(:last-child) {
    margin-bottom: 0.3rem;
}
@media only screen and (min-width: 400px) {
    .tc-girder-navbar-contact-container {
        border-left: 1px solid rgb(var(--tc-girder-navbar-border-color), 0.4);
    }
}
@media only screen and (min-width: 600px) {
    .tc-girder-navbar-link-container {
        flex-basis: calc(100% / 2);
        border-left: 1px solid rgb(var(--tc-girder-navbar-border-color), 0.4);
        display: flex;
    }
}
@media only screen and (min-width: 900px) {
    .tc-girder-navbar {
        flex-wrap: nowrap;
    }
    .tc-girder-navbar-logo-container {
        flex-basis: calc(100% / 3);
    }
    .tc-girder-navbar-link-container {
        flex-basis: calc(100% / 3);
    }
    .tc-girder-navbar-social-container {
        flex-basis: calc((100% / 3) / 2);
        border-left: 1px solid rgb(var(--tc-girder-navbar-border-color), 0.4);
        display: flex;
    }
    .tc-girder-navbar-contact-container {
        flex-basis: calc((100% / 3) / 2);
        display: flex;
    }
    .tc-girder-navbar-tray-btn-wrapper {
        display: none;
    }
}

/*------ mouse effects ------*/
.tc-girder-navbar-link-highlight {
    position: absolute;
    z-index: 1018;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 0;
    height: 0;
    background-color: rgb(var(--clr-accent),1);
    transition: all 0.7s ease;
}

.tc-girder-navbar-link-item:hover * {
    color: rgb(var(--tc-girder-navbar-text-color), 1);
    text-shadow: 0 0 1px white;
}

.tc-girder-navbar-link-item:hover .tc-girder-navbar-link-highlight
 {
    border-width: 1px;
    width: 3rem;
    height: 3rem;
}

.tc-girder-navbar-link-filter {
    position: absolute;
    z-index: 1022;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0 solid var(--clr-accent);
    border-radius: 100%;
    width: 0;
    height: 0;
    background-color: transparent;
    backdrop-filter: invert();
    transition: all 0.7s ease;
}

.tc-girder-navbar-link-item:hover .tc-girder-navbar-link-filter,
.tc-girder-nav-bar-social-bar-icon-wrapper:hover .tc-girder-navbar-link-filter
 {
    border-width: 1px;
    width: 3rem;
    height: 3rem;
}

.tc-girder-navbar-link-mouse-filter {
    pointer-events: none;
    position: absolute;
    z-index: 1099;
    border-radius: 100%;
    width: 0;
    height: 0;
    background-color: transparent;
    backdrop-filter: invert();
    transition: height 0.7s ease, width 0.7s ease;;
}