/*Basict styling to make viewing components easier*/
html {
    background-color: rgba(var(--clr-highlight));
    background-color: rgba(var(--clr-accent));
    background-color: rgba(var(--clr-secondary));
    background-color: rgba(var(--clr-primary));
    background-color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255);
}

.component-label {
    margin: 2rem;
}

/*zen hero demo styling*/
.tc-zen-hero-img-wrapper{
    transform: scaleX(-1);
}
.tc-zen-hero-content-container > *:not(:last-child) {
    margin-bottom: 2rem;
}
.tc-zen-hero-content-container h1{
    font-size: 4.5rem;
    color: white;
}
.tc-zen-hero-content-container p {
    color: white;
    font-size: 1.8rem;
}
.tc-zen-hero .button {
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    border-radius: 0;
    border: 3px solid white;
    width: max-content;

}
.tc-zen-hero .button:hover {
    font-size: 1.8rem;
    border-radius: 0;
}
