.tc-carousel-gallery {
    padding: 2rem 0;
    background-color: rgb(var(--tc-carousel-gallery-background-color));
}
.tc-carousel-gallery h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(var(--tc-carousel-gallery-heading-color));
    font-size: var(--tc-carousel-gallery-heading-font-size);
}
.tc-carousel-gallery .slick-dots {
    margin-top: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}
.tc-carousel-gallery .slick-dots * {
    border: none;

    font-size: 0;
    cursor: pointer;

}
.tc-carousel-gallery .slick-dots button{
    outline: 2px solid rgb(var(--tc-carousel-gallery-dots-color),0.5);
    border: 2px solid rgb(var(--tc-carousel-gallery-background-color));
    border-radius: 6rem;
    width: 2rem;
    height: 0.6rem;
    background-color: rgb(var(--tc-carousel-gallery-dots-color),0);
}
.tc-carousel-gallery .slick-dots button{
    outline: 2px solid rgb(var(--tc-carousel-gallery-dots-color),0.5);
    border: 2px solid rgb(var(--tc-carousel-gallery-background-color));
    border-radius: 6rem;
    width: 2rem;
    height: 0.6rem;
    background-color: rgb(var(--tc-carousel-gallery-dots-color),0);
}
.tc-carousel-gallery .slick-dots .slick-active button {
    background-color: rgb(var(--tc-carousel-gallery-dots-color),1);
}

.tc-carousel-gallery-card {
    padding: 0 1rem;
    aspect-ratio: var(--tc-carousel-gallery-card-aspect-ratio);
    cursor: pointer;
}
.tc-carousel-gallery-card:focus-visible{
    outline: none;
}
.tc-carousel-gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tc-carousel-gallery-card-modal {
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32%);
    max-width: 100vw;
    height: 70vh;
    aspect-ratio: var(--tc-carousel-gallery-card-aspect-ratio);
}
.tc-carousel-gallery-card-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
