/* .tc-simple-contact-form {
    --simple-contact-form-background-color: var(--clr-primary);
    --simple-contact-form-text-color: var(--clr-text-light);

    background-color: rgb(var(--simple-contact-form-background-color));
}
.tc-simple-contact-form * {
    color: rgb(var(--simple-contact-form-text-color));
} */
